<h1>Eventos</h1>
<hr />

<div class="row g-3 align-items-center  mb-3">
  <div class="col-auto">
    <label class="col-form-label">Filtro:</label>
  </div>
  <div class="col-8">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>

<table class="table table-striped">
  <thead class="table-secondary">
    <tr>
      <th>
        <button type="button" class="btn btn-secondary" (click)="alterarImg()">
          {{ !viewImg ? "Mostrar" : "Ocultar" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let item of eventosFiltrados">
      <td>
        <img
          [collapse]="!viewImg"
          [isAnimated]="true"
          src="assets/{{ item.imagemURL }}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        />
      </td>
      <td>{{ item.eventoId }}</td>
      <td>{{ item.tema }}</td>
      <td>{{ item.local }}</td>
      <td>{{ item.dataEvento }}</td>
      <td>{{ item.qtdPessoas }}</td>
      <td>{{ item.lote }}</td>
      <td>
        <button class="btn btn-outline-primary btn-sm me-2">Editar</button>
        <button class="btn btn-outline-danger btn-sm ms-2">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
